<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LA Olympic Athletes</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div id="nav">
        <h1>ACTIVITY</h1>
        <div id="nav-right">
            <a href="./">HOME</a>
            <a href="./blog">BLOGS</a>
            <a href="./explore">EXPLORE</a>
            <a href="./atheletes">ATHELETE INFO</a>
            <a href="./ask">ASK</a> <!-- Link to the ask page -->
            <button>SIGN IN</button>
        </div>
    </div>

    <section id="athletes-section">
        <!-- Athlete 1 -->
        <div class="athlete-card"
            style="background-image: url('//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Neeraj_Chopra_Olympic_gold_medalist.jpg/220px-Neeraj_Chopra_Olympic_gold_medalist.jpg');">
            <div class="athlete-details">
                <h2>Neeraj Chopra</h2>
                <p>Javelin Throw - India</p>
                <div class="achievements">Won 1 Gold & 1 Silver in Olympics</div>
            </div>
        </div>

        <!-- Athlete 2 -->
        <div class="athlete-card"
            style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRELmElyWWhkCS5S0q8tswbTywYK6RgNBfT6g&s');">
            <div class="athlete-details">
                <h2>Manika Batra</h2>
                <p>Table Tennis - India</p>
                <div class="achievements">World No. 24, Olympic breakthrough</div>
            </div>
        </div>

        <!-- Athlete 3 -->
        <div class="athlete-card"
            style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Paris_Olympics_double_bronze_medalist_Manu_Bhaker_in_August_2024.jpg/440px-Paris_Olympics_double_bronze_medalist_Manu_Bhaker_in_August_2024.jpg');">
            <div class="athlete-details">
                <h2>Manu Bhakar</h2>
                <p>Shooting - India</p>
                <div class="achievements">2 Bronze Medal in Paris Olympics 24</div>
            </div>
        </div>

        <!-- Athlete 4 -->
        <div class="athlete-card"
            style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/c6/Aman_Sehrawat_in_August_2024_with_his_Paris_Olympics_bronze_medal.jpg');">
            <div class="athlete-details">
                <h2>Aman Sehrawat</h2>
                <p>Athletics - India</p>
                <div class="achievements">Youngest Indian olympic medalist in 2024</div>
            </div>
        </div>
    </section>
</body>

</html>