<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write Blog</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div id="main2">
        <div class="container">
            <h1>Blogging Website</h1>

            <!-- Blog Submission Form -->
            <section id="write-blog">
                <h2>Write a Blog</h2>
                <form id="blogForm">
                    <input type="text" id="author" placeholder="Enter Your Name" required>
                    <textarea id="content" placeholder="Write your blog here..." required></textarea>
                    <button type="submit">Submit Blog</button>
                </form>
            </section>

            <!-- Display Blogs -->

        </div>
    </div>

    <script src="../static/script.js"></script>
</body>

</html>